@use postcss-color-function;

.square {
  height: 20px;
  width: 20px;
  background: red;
}

.square.is-alpha-predefined {
  background: rgba(255, 0, 0, 0.3);
}

.square.is-alpha {
  background: color(red alpha(30%));
  /* background: color(red a(30%)); */
}

.square.is-tint-predefined {
  background: rgb(255, 128, 128);
}

.square.is-tint {
  background: color(red tint(50%));
  /* background: color(red tint(50%)); */
}

.square.is-hsla-predefined {
  background: rgba(64, 191, 74, 0.4);
}

.square.is-hsla {
  background: color(hsla(125, 50%, 50%, .4));
}

.square.is-hue-predefined {
  background: rgb(0, 170, 255);
}

.square.is-hue {
  background: color(red hue(200));
  /* background: color(red h(200)); */
}

.square.is-sat-predefined {
  background: rgb(191, 64, 64);
}

.square.is-sat {
  background: color(red saturation(50%));
  /* background: color(red s(50%)); */
}
