.square {
  height: 20px;
  width: 20px;
  background: red;
}

.square.is-alpha {
  background: rgba(255, 0, 0, 0.3);
  /* background: color(red a(30%)); */
}

.square.is-tint {
  background: rgb(255, 128, 128);
}

.square.is-shade {
  background: rgb(128, 0, 0);
}

.square.is-blend {
  background: rgb(128, 64, 0);
}

.square.is-contrast {
  background: rgb(255, 255, 255);
  /* Not working? */
}

.square.is-hsla {
  background: rgba(64, 191, 74, 0.4);
}

.square.is-hue {
  background: rgb(0, 170, 255);
  /* background: color(red h(200)); */
}

.square.is-sat {
  background: rgb(191, 64, 64);
  /* background: color(red s(50%)); */
}

.square.is-light {
  background: rgb(77, 0, 0);
  /* background: color(red l(15%)); */
}

.square.is-white {
  background: rgb(255, 128, 128);
  /* background: color(red w(50%)); */
}

.square.is-black {
  background: rgb(128, 0, 0);
  /* background: color(red b(50%)); */
}

.square.is-combo1 {
  background: rgba(0, 204, 17, 0.4);
}
