@use postcss-color-function;

.square {
  height: 20px;
  width: 20px;
  background: red;
}

.square.is-alpha-predefined {
  background: rgba(255, 0, 0, 0.3);
}

.square.is-alpha {
  background: color(red alpha(30%));
  /* background: color(red a(30%)); */
}

.square.is-tint-predefined {
  background: rgb(255, 128, 128);
}

.square.is-tint {
  background: color(red tint(50%));
}

.square.is-shade-predefined {
  background: rgb(128, 0, 0);
}

.square.is-shade {
  background: color(red shade(50%));
}

.square.is-blend-predefined {
  background: rgb(128, 64, 0);
}

.square.is-blend {
  background: color(red blend(green 50% rgb));
}

.square.is-contrast-predefined {
  background: rgb(128, 64, 0);
}

.square.is-contrast {
  background: color(red contrast(150%));
  /* Not working? */
}

.square.is-hsla-predefined {
  background: rgba(64, 191, 74, 0.4);
}

.square.is-hsla {
  background: color(hsla(125, 50%, 50%, .4));
}

.square.is-hue-predefined {
  background: rgb(0, 170, 255);
}

.square.is-hue {
  background: color(red hue(200));
  /* background: color(red h(200)); */
}

.square.is-sat-predefined {
  background: rgb(191, 64, 64);
}

.square.is-sat {
  background: color(red saturation(50%));
  /* background: color(red s(50%)); */
}

.square.is-light-predefined {
  background: rgb(77, 0, 0);
}

.square.is-light {
  background: color(red lightness(15%));
  /* background: color(red l(15%)); */
}

.square.is-white-predefined {
  background: rgb(255, 128, 128);
}

.square.is-white {
  background: color(red whiteness(50%));
  /* background: color(red w(50%)); */
}

.square.is-black-predefined {
  background: rgb(128, 0, 0);
}

.square.is-black {
  background: color(red blackness(50%));
  /* background: color(red b(50%)); */
}

.square.is-combo1-predefined {
  background: rgba(0, 204, 17, 0.4);
}

.square.is-combo1 {
  background: color(hsla(125, 50%, 50%, .4) s(+ 10%) w(- 20%));
}
