.square {
  height: 20px;
  width: 20px;
  background: red;
}

.square.is-hwb {
  background: rgba(128, 255, 0, 0.5);
}

.square.is-hwb-gradient {
  background: linear-gradient(rgb(128, 234, 255), rgba(128, 212, 230, 0.2));
}
