@use postcss-color-hex-alpha;

.square {
  height: 20px;
  width: 20px;
  background: red;
}

.square.is-hex-alpha-4chars {
  background: #9d9c;
}

.square.is-hex-alpha-8chars {
  background: #99dd99cc;
}

.square.is-hex-alpha-gradient {
  background: #9d9 linear-gradient(#9823f8a9, #9823f834);
}
