.square {
  height: 20px;
  width: 20px;
  background: red;
}

.square.is-hex-alpha-4chars {
  background: rgba(153, 221, 153, 0.8);
}

.square.is-hex-alpha-8chars {
  background: rgba(153, 221, 153, 0.8);
}

.square.is-hex-alpha-gradient {
  background: #9d9 linear-gradient(rgba(152, 35, 248, 0.66275), rgba(152, 35, 248, 0.20392));
}
